[submodule "vendor/jquery_extensions"]
	path = vendor/jquery_extensions
	url = git://github.com/collin/jquery_extensions.git
[submodule "vendor/keybinder"]
	path = vendor/keybinder
	url = git://github.com/collin/keybinder.git
[submodule "vendor/jquery_keybinder"]
	path = vendor/jquery_keybinder
	url = git://github.com/collin/keybinder.git
[submodule "vendor/effen"]
	path = vendor/effen
	url = git://github.com/collin/effen.git
