!!!
%html
  %head
    %script{:src => "../pkg/jquery.tree.bundle-#{JQuery::Tree::Version}.js?"}
    :javascript
      ;(function(_) {
        _(function() {
          var tree = _('#tree').is_tree({
            plugins: 'html_editor editable toggle disable destroy'
          });
          
          tree.data('tree.options').tree_node_input.keybind('<', function(e) {
            var node = _(e.target).parent_node();
            var tag = node.tree().data('tree.options').node.dom.deep_clone(true);
            tag.child_list().replace(node.child_list())
            node
              .find(':input')
                .blur()
                .end()
              .replace(tag);
              
            tag.fn('paint').fn('edit');
          });
          
          var awesome = tree.create_node('Awesome');
          
          awesome.create_node('Cake');
          awesome.create_node('Bacon');
          awesome.create_node('jQuery');
          
          var set = tree.create_node('Set');
          set.create_node('Things');
          
          var subset = set.create_node('Subset');
          subset.create_node('Other Things');
          subset.create_node('Fun Times');
        });
      })(jQuery)
  %body
    %ol#tree.tree
