!!!
%html
  %head
    :javascript
      if(!console) document.write("<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></sc"+"ript>")
    %script{:src => "../pkg/jquery.tree.bundle-#{JQuery::Tree::Version}.js?"}
    %style
      :sass
        .keybindings
          :border-bottom 1px outset
          :width 700px
          li
            :clear both
            :border 1px outset
              :bottom 0
          dt
            :font
              :family serif
              :size 18px
            :background-color #fafafa
            :width 200px
            :padding 5px
              :right 10px
            :text-align right
            :float left
          dd
            :line-height 32px
            :background white
            :text-align left
            :display block
            :margin-left 230px
            :font-family sans-serif
          
    :javascript
      jQuery(function(_) {
        var tree = _('#tree').is_tree({
          plugins: 'html_editor editable toggle disable destroy'
        });
        
        tree.data('tree.options').tree_node_input.keybind('<', function(e) {
          _(e.target).parent_node().swap_node_type('dom');
        });
        function notify(msg) {
          return function(e, arg1) {
            console.log(msg, e.target);
          };
        }
        
        tree.bind('expand', notify('expand'));
        tree.bind('collapse', notify('collapse'));
        
        tree.bind('disable', notify('disable'));
        tree.bind('enable', notify('enable'));
        
        tree.bind('destroy', notify('destroy'));
        
        tree.bind('edit', notify('edit'));        
        tree.bind('edit_tag_name', notify('edit tag'));        
        tree.bind('edit_id', notify('edit id'));        
        tree.bind('edit_class', notify('edit class'));        
        tree.bind('edit_attr', notify('edit attr'));      
        tree.bind('edit_value', notify('edit value'));
        
        tree.bind('commit', notify('commit'));
        
      });
  %body
      
    %ol#tree.tree
      %h4 double click to add a new node
      %h4 click to edit
    %dl.keybindings
      %li.less_than
        %dd Convert this plaintext node into a DOM node.
        %dd Edit the tag name of this node.      
      %li.pound
        %dt #
        %dd Edit this node's ID attribute
      %li.period
        %dt .
        %dd Add a new class name to this node.
      %li.tab
        %dt tab
        %dd Edit this node's class attributes
        %dd Edit the next class name for this node.
        %dd Switch to edit this node's ID attribute
        %dd If last class name, edit first attribute.
        %dd If no attributes, add new attribute.
      %li.shift_tab
        %dt shift+tab
        %dd Edit this node's ID attribute
        %dd Edit the tag name of this node.
      %li.spacebar
        %dt spacebar
        %dd Add a new class name to this node.
      %li.equal
        %dt =
        %dd Add a new html attribute to this node.
        %dd Edit the value for this attribute. 
      %li
        %dt enter
        %dd insert a new element after the current element
      %li
        %dt shift+enter
        %dd insert a new element inside the current element
      %li
        %dt ctrl+up
        %dd switch to the element before the current element
      %li
        %dt ctrl+down
        %dd switch to the element after the current element
      %li
        %dt ctrl+left
        %dd switch to the parent of the current element
      %li
        %dt ctrl+right
        %dd switch to the first child of the current element
      %li
        %dt ctrl+shift+up
        %dd move the current element above its next sibling
      %li
        %dt ctrl+shift+down
        %dd move the current element below its next sibling
      %li
        %dt ctrl+shift+left
        %dd move the current element above its parent
      %li
        %dt ctrl+shift+right
        %dd move the current element above inside its next sibling
      
