!!!
%html
  %head
    %script{:src => "../pkg/jquery.tree.bundle-#{JQuery::Tree::Version}.js?"}
    :javascript
      jQuery(function(_) {
        var tree = _('#tree').is_tree({
          plugins: 'html_editor'
        });
        console.log(tree.data('tree.options'))
        var awesome = tree.create_node('hella');
        
        awesome.create_node({attributes: {ok:'awesome',green:'machine'}});
        awesome.create_node();
        awesome.create_node();
        
        var set = tree.create_node({id:'set'});
        set.create_node({classes:['crazy', 'machine']});
        
        var subset = set.create_node({tag_name:'ol', id:'subset'});
        subset.create_node({tag_name:'li'});
        subset.create_node({tag_name:'li'});
        
        function notify(msg) {
          return function(e) {
            console.log(msg, e.target);
          };
        }
        
        tree.bind('expand', notify('expand'));
        tree.bind('collapse', notify('collapse'));
        
        tree.bind('disable', notify('disable'));
        tree.bind('enable', notify('enable'));
        
        tree.bind('destroy', notify('destroy'));
      });
  %body
    %ol#tree.tree
