!!!
%html
  %head
    %script{:src => "../pkg/jquery.tree.bundle-#{JQuery::Tree::Version}.js?"}
    :javascript
      ;(function(_) {
        _(function() {
          var tree = _('#tree').is_tree({
            plugins: 'toggle disable destroy'
          });
          
          var awesome = tree.create_node('Awesome');
          
          awesome.create_node('Cake');
          awesome.create_node('Bacon');
          awesome.create_node('jQuery');
          
          var set = tree.create_node('Set');
          set.create_node('Things');
          
          var subset = set.create_node('Subset');
          subset.create_node('Other Things');
          subset.create_node('Fun Times');
          
          function notify(msg) {
            return function(e) {
              console.log(msg, e.target);
            };
          }
          
          tree.bind('expand', notify('expand'));
          tree.bind('collapse', notify('collapse'));
          
          tree.bind('disable', notify('disable'));
          tree.bind('enable', notify('enable'));
          
          tree.bind('destroy', notify('destroy'));
        });
      })(jQuery)
  %body
    %ol#tree.tree
